<div class="fixed-bottom-bar">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md pr-4 d-flex topper align-items-center">
                <span class="heading_2 px-4 " style="text-shadow: 2px 2px 2px rgba(0,0,0,0.61);">цвет</span>
                <button id="celery" style="background-color: #9CD124;" class="color-button"></button>
                <button id="sky" style="background-color: #1AB5E6;"    class="color-button"></button>
                <button id="forest" style="background-color: #5F9E40;" class="color-button"></button>
                <button id="wood" style="background-color: #6D6162;"   class="color-button"></button>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
                <span class="heading_2 px-4" style="text-shadow: 2px 2px 2px rgba(0,0,0,0.61);">логотип</span>
                <button id="drop" class="icon-button">
                    <img class="" src="/assets/images/logo/circle_logo.svg" width="30px">
                </button>
                <button id="circle"  class="icon-button">
                    <img class="" src="/assets/images/logo/drop_logo.svg" width="30px">
                </button>
                <button id="seed" class="icon-button">
                    <img class="" src="/assets/images/logo/seed_logo.svg" width="30px">
                </button>
            </div>
        </div>
    </div>
</div>