{% load i18n %}
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon active d-flex justify-content-center align-items-center mb-2">
                        <span class="text-main">800</span>
                    </div>
                    <div class="media-body"><span>{% trans 'тонн/сутки' %}</span>
                        <h3 class="heading heading_2 dark">{% trans 'Переработка' %}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon  d-flex justify-content-center align-items-center mb-2">
                        <span class="text-main">1000</span>
                    </div>
                    <div class="media-body"><span>{% trans 'тонн/сутки' %}</span>
                        <h3 class="heading heading_2 dark">{% trans 'производство' %}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon  d-flex justify-content-center align-items-center mb-2">
                        <span class="text-main"> 11 000 </span>
                    </div>
                    <div class="media-body"><span>{% trans 'тонн/мес' %}</span>
                        <h3 class="heading heading_2 dark">{% trans 'Отгрузка' %}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-primary  d-flex justify-content-center align-items-center mb-2">
                        <span class="text-main"><1500</span>
                    </div>
                    <div class="media-body"><span>{% trans 'тонн/сутки' %}</span>
                        <h3 class="heading heading_2 dark">{% trans 'приемка <br>сырья' %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>