{% load i18n %}
<footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">
                  <img id="footer_logo"  src="/assets/images/logo/cover_brown.svg" width="250px">
              </h2>
              <p> {% trans 'Завод по выпуску растительных масел, изготавливаемых из подсолнечника, льна или рапса методом экстрагирования.' %}
              </p>
                <ul class="ftco-footer-social list-unstyled float-md-center float-lft mt-5 ">

                        <li class="ftco-animate ">
                            <a class="bg-primary p-2" href="#">
                            <img class="light_social_logo" src="/assets/images/socials/logo-whatsapp.svg"/>
                            </a>
                        </li>
                        <li class="ftco-animate ">
                            <a class="bg-primary p-2" href="#">
                            <img class="light_social_logo" src="/assets/images/socials/logo-viber.svg"/>
                            </a>
                        </li>
                     <li class="ftco-animate ">
                            <a class="bg-primary p-2" href="#">
                            <img class="light_social_logo" src="/assets/images/socials/logo-telegram.svg"/>
                            </a>
                        </li>


                    </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">{% trans 'Меню' %}</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">{% trans 'Продукция' %}</a></li>
                <li><a href="#" class="py-2 d-block">{% trans 'О нас' %}</a></li>
                <li><a href="#" class="py-2 d-block">{% trans 'Закупка' %}</a></li>
                <li><a href="#" class="py-2 d-block">{% trans 'Связаться с нами' %}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">{% trans 'Документация' %}</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">{% trans 'Условия доставки' %}</a></li>
	                <li><a href="#" class="py-2 d-block">{% trans 'Сертификаты' %}</a></li>
	                <li><a href="#" class="py-2 d-block">{% trans 'Правила и условия' %}</a></li>
	                <li><a href="#" class="py-2 d-block">{% trans 'Конфиденциальность' %}</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">{% trans 'Работать у нас' %}</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">{% trans 'Контакты' %}</h2>
            	<div class="block-23 mb-3">
	              <ul>
                      <li>
                          <a href="#">
                              <span class="icon icon-phone"></span>
                              <span class="text">+7 (7172) 77 77 77</span>
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <span class="icon icon-envelope"></span>
                              <span class="text">oilmill@email.com</span>
                          </a>
                      </li>
                      <li><span class="icon icon-map-marker"></span>
                          <span class="text">
                            010000,
                            <br>{% trans 'Казахстан' %},
                            <br>{% trans 'г. Астана'%},
                            <br>{% trans 'ул. Промышленная, зд.1' %}
                        </span>

                      </li>
                  </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> {% trans 'Все права защищины' %}
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>