{% load i18n %}
<div class="py-1">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center">
                            <span class="icon-phone2" style="color: var(--main-color);"></span>
                        </div>
                        <span class="text" style="font-weight: 600; letter-spacing: 2px;">+7 (7172) 77 77 77</span>

                    </div>
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center">
                            <span class="icon-envelope" style="color: var(--main-color);"></span>
                        </div>
                        <span class="text" style="font-weight: 600; letter-spacing: 2px;">oilmill@email.com</span>
                    </div>
                    <div class="col-md-5 fw-3 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text" style="font-weight: 600; letter-spacing: 2px;">
								{% trans 'г. Астана' %}, {% trans 'ул. Промышленная, зд.1' %}
							</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>