{% load i18n %}
<section class="ftco-section ftco-partner bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="heading_3">
                </span>
                <h2 class="mb-4  heading_2 dark">{% trans 'Наши партнеры' %}
                </h2>
                <p class="">
                </p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-sm ftco-animate">
                <a href="#" class="partner">
                    <img src="/assets/images/partner-1.png" class="img-fluid"
                         alt="партнер">
                </a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner">
                    <img src="/assets/images/partner-2.png" class="img-fluid"
                         alt="партнер">
                </a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner">
                    <img src="/assets/images/partner-3.png" class="img-fluid"
                         alt="партнер">
                </a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner">
                    <img src="/assets/images/partner-4.png" class="img-fluid"
                         alt="партнер">
                </a>
            </div>
            <div class="col-sm ftco-animate">
                <a href="#" class="partner">
                    <img src="/assets/images/partner-5.png" class="img-fluid"
                         alt="партнер">
                </a>
            </div>
        </div>
    </div>
</section>